.OrderShowCase {
  max-width: 60vw;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
}

.OrderShowCaseItem {
  padding: 1.5rem 1rem;
  /* border: 2px solid #333; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 8px 6px -6px black;
}

.OrderShowCaseItem #editOption {
  cursor: pointer;
  font-size: 2rem;
}


.Order-Header p {
  color: #333;
  font-size: 2rem;
  padding: 1rem;
}

.Order-Body {
  color: #333;
  width: 100%;
}

.Order-Body li {
  color: #333;
  font-size: 1.8rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.Order-Body li p {
  width: 30%;

}

.Order-Body li span {
  color: #fff;
  background: #333;
  font-weight: 800;
  cursor: none;
  z-index: 0;
}

.Order-Footer {
  padding: 2rem 1rem;
}

.Order-Footer p {
  font-size: 2rem;
}


.OrderShowCase .Options-Cta {
  padding: 2rem;
}

.OrderShowCase .Options-Cta button {
  margin: 1rem;
}

#EditOrderForm {}

#EditOrderForm .form-group {
  background: #333;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 1rem;
  margin: 1rem 0;
}

#EditOrderForm .form-group label {
  color: #fff;
}

#EditOrderForm .form-group label span {
  color: #fff;
}

#EditOrderForm .form-group input {
  width: 20vw;
  margin: 0 auto;
  box-shadow: none;
}