.Home {
  padding: 2rem 1rem;
  font-family: 'Bangers', cursive;
}

.Home h1 {
  padding: .5rem;
  font-size: 3.5rem;
  letter-spacing: .2rem;
}

.Home h3 {
  padding: .5rem;
  font-size: 2rem;
  letter-spacing: .2rem;
}

.Home h3 span {
  background: #333;
  color: #fff;
  letter-spacing: .3rem;
}

.Home h4 {
  padding: .5rem;
  font-size: 1.8rem;
  letter-spacing: .2rem;
}

.Search {
  margin: 1rem auto;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  width: 70vw;

}

#search-Icon {
  color: black;
  font-size: 5rem;
  margin-right: auto;
  width: 7rem;
  height: 7rem;
  transform: rotate(-45deg);
  border-radius: 50%;
  border: 2px solid black;
  /* padding: -2rem; */
  box-shadow: 2px 3px 1px 3px #ccc;
  transition: 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-Icon:hover {
  box-shadow: 4px 4px 3px 3px #ccc;
}

#search-Icon:active {
  top: 6px;
  position: relative;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

#Searchbar {
  margin: 0 auto;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  transition: 300ms ease-in-out;
  width: 55vw;
}

#Searchbar:focus {
  width: 57vw;
  box-shadow: 4px 4px 4px 4px #ccc;
}

.Label-producers {
  display: flex;
  max-width: 40vw;
  margin: 1rem auto;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
}

.LabelItem {
  padding: 1rem .5rem;
  background: #333;
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: .3rem;
  cursor: pointer;
  transition: 300ms ease-in-out;
  box-shadow: 0 8px 6px -6px #333;
  margin: .6rem 0;
}

.LabelItem:hover {
  box-shadow: 3px 8px 16px -4px #333;
}