.Navbar {
  padding: 2rem 1.5rem;
  background: #333;
  margin-bottom: 2rem;
}

#navList {
  display: flex;
  justify-content: flex-end;

}

#navList li {
  padding: 0 .5rem;
}

#navList li a,
span {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
  transition: 300ms ease-in-out;
  text-decoration: none;
  padding: .5rem;
}


#navList span:hover {
  color: #333;
  background: #fff;

}

#navList a:hover {
  color: #333;
  background: #fff;
}