.Producer-Deals {
  max-width: 75vw;
  margin: 4rem auto;
  padding: 2rem 1rem;
}

#User-deal-title {
  font-size: 3rem;
  letter-spacing: 1rem;
  padding: 3rem 0;
}

.Producer-Deals .DealItem {
  padding: 3rem 1.5rem;
  border: 2px solid #333;
  display: flex;
  justify-content: space-between;
  margin: 1rem .5rem;
  box-shadow: 0 8px 6px -6px black;
}

.Producer-Deals .DealItem p {
  font-size: 1.6rem;
  padding: .5rem;
}

.Producer-Deals .DealItem p span {
  color: #fff;
  background: #333;
}

.Producer-Deals .DealItem .deal-options {
  display: flex;
}

.Producer-Deals .DealItem .deal-options span {
  color: #fff;
  background: #333;
  cursor: pointer;
}

#Delete-deal-form {
  display: flex;
  flex-direction: column;
}

#Deal-input {
  width: 45vw;
  margin: 1rem auto;
  box-shadow: 2px 2px 2px 3px #ccc;
  border: 2px solid #333;
  padding: .3rem .6rem;
  font-size: 1.5rem;
  border-radius: .5rem;
  transition: 300ms all;
}

#Deal-input:focus {
  width: 43vw;
}

@media(max-width:1080px) {
  .Producer-Deals {
    justify-content: center;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
  }

  .Producer-Deals .DealItem {
    flex-direction: column;
    position: relative;
    min-width: 30vw;
    padding: 3rem 0;
  }

  .Producer-Deals .DealItem p {
    margin: 1.5rem;
  }

  .Producer-Deals .DealItem .deal-options {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}