nav {
  padding: 2rem;
}

#navList {
  display: flex;
  justify-content: flex-end;
}

#navList li {
  padding: .5rem;
}

#navList li a,
span {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #333;
  cursor: pointer;
}